body {
	background-color: #ccffcc;
	
}

h1 {
	text-align: center;
	font-size: 50px;
	font-family: luckiest guy;
	margin: 80px auto;
}

.user {
	border-left: 4px solid #00b300;
	margin: 0 auto;
	padding: 0 20px;
	width: 1000px;
}

.user li {
	background-color: #e6ffe6;
	font-size: 20px;
	margin: 0 0 10px 0;
}

.example {
	width: 1000px;
	margin: 50px auto 0 auto;
}

p {
	background-color: #ffe6e6;
	color: #b30000;
	width: auto;
	display: inline-block;
	margin: 2px;
}
